#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.button {
  background-color: rgb(21, 154, 243);
  border-radius: 20px;
  color: white;
}
.inputbox {
  margin-right: 5px;
  height: 30px;
  border-width: 5px;
  border-color: black;
  width: 250px;
  border-radius: 5px;
}
.edit {
  color: black;
}
.bin{
  color: red;
}
.checkbox {
  margin-right: 20px;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}

.popup-content {
  text-align: center;
}

.yes-button,
.no-button,.update,.cancel {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.yes-button {
  background-color: red;
  color: white;
}

.no-button {
  background-color: gray;
  color: white;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.popupEdit{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 10px;
}
.update {
  background-color: rgb(0, 174, 255);
  color: white;
}
.editBox{
  border-width: 3px;
  border-radius: 5px;
  border-color: rgb(0, 174, 255);
}
.todo-item {
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flex-row{
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  border: 3px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}